#game div {
	border: 2px solid black;
	width: 200px;
	height: 200px;
	margin: 10px;
	display: inline-block;
}

#game div:hover {
	border: 4px solid black;
	box-shadow: inset 0px 0px 0px 5px royalblue;
	box-sizing: border-box;
}

footer {
	font-size: small;
	text-align: center;
	font-family: Nunito;
}

h1,
h3 {
	font-family: Nunito;
	text-align: center;
	align-content: center;
	margin-left: 2%;
	margin-right: 2%;
}

body {
	background: linear-gradient(skyblue, wheat);
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.orange {
	background-color: orange;
}

.blue {
	background-color: blue;
}

.purple {
	background-color: purple;
}

.hidecolor {
	background-color: wheat;
}

.done {
	cursor: default;
	box-shadow: none;
}

#youWin {
	font-style: Nunito;
	font-size: x-large;
	font-weight: bold;
}
